<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">SareBank</h1>
      <h2 class="masthead-subheading mb-0"> Jendearen online bankua </h2>
      <a href="#gehiago" class="btn btn-primary btn-xl rounded-pill mt-5">Irakurri gehiago</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section style="margin-bottom: 2rem;">
  <a name="gehiago"> </a>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag("1.jpg", :alt=>"1", :class=>"img-fluid rounded-circle")%>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Komisiorik gabe!</h2>
          <p>Egin nahi beste transakzio estatu barruko beste edozein kontura komisio gabe. Estatu barruko transakzioak 2 lanegunetan burutuko dira. Egin transakzioak atzerrira bakarrik 2.5€-ren truke.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag("2.jpg", :alt=>"2", :class=>"img-fluid rounded-circle")%>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">We salute you!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag("3.jpg", :alt=>"3", :class=>"img-fluid rounded-circle")%>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Kontu berria</h2>
          <p>Sortu kontu berria gure bankuan guztiz dohainik eta ez zaitez kezkatu egin beharreko paperetaz, hori gure kontu. Bete online formularioa eta hasi zaitez zure kontua gaur bertan erabiltzen!</p>
        </div>
      </div>
    </div>
  </div>
</section>