<header >
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container" >
			<ul class="navbar-nav ml-auto" style="width: 100%; text-align: center;">
				<li>
					<label id="info_l" class="nav-link" style="cursor: pointer;">Kontuaren informazioa</label>
				</li>
				<li>
					<label id="tBerria_l" class="nav-link" style="cursor: pointer;">Transakzio berria</label>	
				</li>
				<li>
					<label id="tHistoria_l" class="nav-link" style="cursor: pointer;">Transakzioen historia</label>
				</li>
			</ul>
		</div>
	</nav>
</header>

<section style="border: 1px solid black; text-align: center">
	<div id="info_d" class="sekzioDiv">
		AAAaaAAAaaAAAaaAAAaaAAAaaAAAaaAAAaaAAAaa
	</div>

	<div id="tBerria_d" class="sekzioDiv"> 
		BBBbbBBBbbBBBbbBBBbbBBBbbBBBbbBBBbbBBBbb
	</div>

	<div id="tHistoria_d" class="sekzioDiv">
		CCCccCCCccCCCccCCCccCCCccCCCccCCCccCCCcc
	</div>
</section>
