<% @transactions.each do |transaction| %>
  <div>
	<%= transaction.created_at %><br/>
	Nora: <%= transaction.hartzaile_kontua %>	
  </div>
  <div>
  	<p>Azalpena: <%= transaction.azalpena %></p>
  	<p>Kopurua: <%= transaction.kopurua %>€</p>
  </div>
  <hr/>
<%end%>
