<h3><%= @transaction.azalpena %></h3>
<div>
    <p><%= @transaction.data %></p>
    <p>Hartzaile kontua: <%= @transaction.hartzaile_kontua %></p> <p>Zenbatekoa: <%= @transaction.kopurua %>€</p>
</div>
